/* Defaults */
.weekly-graph-container {
    grid-area: weekly;
}

/* Mobile */
.weekly {
    width: 100%;
}

.weekly-graph-container {
    background-color: var(--main-color);
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0 0 0 1rem;
    margin: 0 0 0 1rem;
}
.weekly-graph {
    position: relative;
    height: 100%;
}
/* Desktop */