/* Mobile layout */
.language-stats {
    height: 75%;
    display: grid;
    grid-template-areas:
            "hourly language-chart"
            "weekly language-chart";
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
}

/* Desktop layout */
@media (min-width: 769px) {
    .language-stats {
        grid-template-areas:
            "hourly language-chart"
            "weekly language-chart";
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    }
}
